* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1078px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 30px;
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.center {
    text-align: center;
    margin: 0 auto;
}
.right {
    margin-left: auto; 
    text-align: right;
}
.left {
    margin-right: auto;
}
.nav-menu {
    height: 82px;
    background-color: #626262;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

    line-height: 82px;
    text-transform: uppercase;
    font-size: 15px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    position: relative;
    padding: 0 67px;
    &:hover {
        color: black;
    }
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 0px;
        bottom: -10px;
        background: black;
        transition: .2s;
    }
    &:hover:before {
        content: "";
        position: absolute;
        height: 6px;
    }
}

.logo {
    background: url('../img/лого.png') center center / contain no-repeat;
    width: 57px;
    height: 39px;
    margin: 25px auto;
}

.title {
    font-size: 45px;
    text-align: center;
    color: #141414;
    margin: 40px 0 30px 0;
}
.title-description {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

/* картинка с бокалами */ 
.main-img {
    background: url('../img/бокалы.png') center center / contain no-repeat;
    background-size: contain;
    padding: 280px;
    margin: 50px auto 20px auto;
}

.company {
    margin: 20px 0 180px 0;
}
.second-title {
    font-size: 30px;
    margin-bottom: 80px;
}

.second-title-text {
    text-align: center;
    font-size: 19px;
    font-weight: 300;
    max-width: 900px;
    margin: 0 auto;
    letter-spacing: 0.16px;
    line-height: 40px;
}

.hr-line {
    max-width: 751px;
    height: 29px;
    background-color: #626262;

}

.marks {
    max-width: 400px;
    margin: 280px 0 0 160px;
    text-align: left;
}

.default-text {
    letter-spacing: 0.16px;
    line-height: 30px;
}

.marks-img {
    background: url('../img/файл.png') right center / contain no-repeat;
    padding: 200px;
    margin: 75px 100px 200px 300px;
    overflow: hidden;


}
.lefard-logo {
    background: url('../img/Lefard-2.png') center center / contain no-repeat;
    padding: 20px;
}
.crystal-logo {
    background: url('../img/crystal.png') center center / contain no-repeat;
    padding: 20px;
}
.crystal-logo {
    background: url('../img/богемия.png') center center / contain no-repeat;
    padding: 20px;
}
.mark-title-block {
    margin: 20px 0 50px 0 ;
}
.mark-title {
    font-size: 20px;
}
.grey-title {
    color: #8e8e8e;
    font-size: 25px;
}
.lefard-img {
    background: url('../img/Слой_4.png') left center / contain no-repeat;
    padding: 280px;
    display: inline-block;
    overflow: hidden;

}
.crystal-img {
    background: url('../img/ваза.png') left center / contain no-repeat;
    padding: 280px;
    display: inline-block;
    overflow: hidden;
}
.bohemia-img {
    background: url('../img/бокал.png') left center / contain no-repeat;
    padding: 200px;
    display: inline-block;
    overflow: hidden;

}
.realization-img {
    background: url('../img/POSTERS-min.png') center center / contain no-repeat;
    padding: 200px;
    margin: 80px 0;
    overflow: hidden;

}
.mark-text-field {
    max-width: 450px;
    margin-top: 300px;
    margin-bottom: 30px;
}
.link {
    color:#3d7df3;
    text-decoration: none;

    position: relative;
    &:before {
        content: "";
        position: absolute;
        background: #3d7df3;
        width: 0%;
        height: 1px;
        right: 0;
        bottom: -10px;
        transition: .2s;
    }
    &:after {
        content: "";
        position: absolute;
        background: #3d7df3;
        width: 0%;
        height: 1px;
        top: -10px;
        left: 0;
        margin: 0 auto;
        transition: .2s;

    }
    &:hover:before {
        content: "";
        position: absolute;
        width: 100%;
    }
    &:hover:after {
        content: "";
        position: absolute;
        width: 100%;
    }
}
.crystal {
    margin: 40px 0;
}
.bohemia {
    margin: 50px 0 40px 0;
}
.realization {
    margin: 100px 0;
}
.realization-title {
    font-size: 30px;
}
.realization-text {
    max-width: 700px;
    line-height: 40px;
    margin-bottom: 30px ;
}
.footer-background {
    background: #e5e5e5;
    box-sizing: border-box;
    padding: 100px 0 50px 0;

}
.footer-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.footer-field {
    width: 200px;
    margin: 20px 0;
}
.footer-field-img {
    padding: 27px;
    opacity: .4;
    margin-bottom: 70px;
}
.icon_1 {
    background: url('../img/1.png') center center / contain no-repeat;
}
.icon_2 {
    background: url('../img/2.png') center center / contain no-repeat;
}
.icon_3 {
    background: url('../img/3.png') center center / contain no-repeat;
}
.icon_4 {
    background: url('../img/4.png') center center / contain no-repeat;
}
.footer-field-text {
    line-height: 25px;
}
.footer-field-title {
    margin: 10px 0;
}
.footer-field-description {
    font-size: 13px;
}

.footer-nav {
    margin-top: 80px;
}
.footer-nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 30px;
    font-size: 12px;
}

.footer-contacts {
    display: flex;
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 13px;
    justify-content: space-between;
}
.footer-contacts-phone {
    display: flex;
    justify-content: space-between;
}
.footer-contacts-phone-block {
    margin: 0 20px;
}
.phone-number {
    margin-bottom: 10px;
    display: inline-block;
}
.hr-line-2 {
    box-sizing: border-box;
    padding: 0 50px;
    max-width: 1078px;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
}
.copyright {
    margin-top: 50px;
    text-align: right;
}

.lefard-text, .bohemia-text, .crystal-text {
    margin-bottom: 30px;
}